.grid-wrap { overflow: hidden; }
.grid { margin-left: -20px; margin-top: 20px; margin-bottom: 20px;
	@include flex-flow( row wrap );
	@include display( flex );
}
.grid.centered {
	@include justify-content( center );
}
.grid:after { content:" ";display:block;height:0;line-height:0;clear:both;visibility:hidden;overflow:hidden}
.col { padding-left: 20px; padding-bottom: 20px; }
.col>.item,
.col>div { width: 100%; display:block;}

.flexbox .grid.fill>.col { 
	max-width: 50%; 
	@include flex-grow(1);
}

.grid.nopad { margin-left:0; }
.grid.nopad>.col { padding: 0; }
.grid.pad40 { margin-left: -40px; }
.grid.pad40>.col { padding-left: 40px; padding-bottom: 40px; }
.grid.pad10 { margin-left: -10px; }
.grid.pad10>.col { padding-left: 10px; padding-bottom: 10px; }
.grid.pad5 { margin-left: -5px; }
.grid.pad5>.col { padding-left: 5px; padding-bottom: 5px; }

.grid.eqh {
	@include align-items( stretch );
}

.grid.eqh>.col {
	@include display( flex );
}
.grid.eqh>.col>.item {
	@include flex-grow( 1 );
}

.col-6 { width: 16.6666667%; }
.col-5 { width: 20%; }
.col-4 { width: 25%; }
.col-3 { width: 33.333333%; }
.col-2 { width: 50%; }
.col-1 { width: 100%; }
.col-2-3 {  width: 66.666667%; }

.col-4-5 { width: 80%; }
.col-3-5 { width: 60%; }
.col-2-5 { width: 40%; }
.col-1-5 { width: 20%; }

@media screen and (max-width: 900px) {
	.col-900-6 { max-width: 16.6666667%; }
	.col-900-5 { width: 20%; }
	.col-900-4 { width: 25%; }
	.col-900-3 { width: 33.333333%; }
	.col-900-2 { width: 50%; }
	.col-900-1 { width: 100%; }
	.col-900-2-3 {  width: 66.666667%; }

	.col-900-4-5 { width: 80%; }
	.col-900-3-5 { width: 60%; }
	.col-900-2-5 { width: 40%; }
	.col-900-1-5 { width: 20%; }
}

@media screen and (max-width: 750px) {
	.sm-col-6 { width: 16.6666667%; }
	.sm-col-5 { width: 20%; }
	.sm-col-4 { width: 25%; }
	.sm-col-3 { width: 33.333333%; }
	.sm-col-2 { width: 50%; }
	.sm-col-1 { width: 100%; }
	.sm-col-2-3 {  width: 66.666667%; }

	.sm-col-4-5 { width: 80%; }
	.sm-col-3-5 { width: 60%; }
	.sm-col-2-5 { width: 40%; }
	.sm-col-1-5 { width: 20%; }
}

@media screen and (max-width: 500px) {
	.xs-col-6 { width: 16.6666667%; }
	.xs-col-5 { width: 20%; }
	.xs-col-4 { width: 25%; }
	.xs-col-3 { width: 33.333333%; }
	.xs-col-2 { width: 50%; }
	.xs-col-1 { width: 100%; }
	.xs-col-2-3 {  width: 66.666667%; }

	.xs-col-4-5 { width: 80%; }
	.xs-col-3-5 { width: 60%; }
	.xs-col-2-5 { width: 40%; }
	.xs-col-1-5 { width: 20%; }
}

/* split screen */
.split-screen { background: #fff center center repeat-y; padding: 20px 0;}
.split-screen.with-border { border: solid #e5e5e5; border-width: 1px 0; position: relative;}
.split-screen.with-border:after { position: absolute; left: 50%; border-left: 1px solid #e5e5e5; content:""; top:0; bottom:0;}
.split-screen.dark-right { background-image: url(../images/split-screen-dark-right.png); }
.split-screen.dark-left { background-image: url(../images/split-screen-dark-left.png); }
.split-screen .col { position: relative; }

/* split-block */
.split-block { position: relative; overflow:hidden;}
.split-block-container .sw { max-width: 100%; }
.split-block .img-wrap { position: absolute; top:0; bottom:0; background: center no-repeat; background-size: cover; width: 50%;}
.split-block .content { padding: 40px 0; width: 50%; min-height: 275px; position: relative; }
.split-block .content .inner { display: inline-block; vertical-align: middle; }
.split-block.img-left .content { padding-left: 40px; float:right;}
.split-block.img-left .img-wrap { left:0; }
.split-block.img-right .img-wrap { right:0; }
.split-block.img-right .content { padding-right: 40px; }

/* responsive grid */
@each $size in 1000,900,850,800,750,700,650,599,500,450 {

	@media screen and (max-width: #{$size}px) {
		.no-#{$size} { display: none !important; }
		
		.collapse-#{$size}>.col>.item,
		.collapse-#{$size}>.col { width: 100% !important; display:block;}
		
		.grid.fill.collapse-#{$size} > .col { max-width: none; }
		
		.split-screen.collapse-#{$size} { background-image: none !important; }
		.split-screen.collapse-#{$size}.dark-left .split-screen-grid>.col:first-child,
		.split-screen.collapse-#{$size}.dark-right .split-screen-grid>.col:last-child { background: #000; }
		.split-screen.collapse-#{$size}>.grid>.col { padding: 40px; }
		
		.split-screen.collapse-#{$size} .col:before,
		.split-screen.collapse-#{$size} .col:after { display: none; }
		
	}
	
}

@media screen and (max-width: 1000px) {
	.split-block .content { padding: 20px !important; }
}

@media screen and (max-width: 700px) {
	.split-block .content { min-height:0; }
	.split-block-container+.split-block-container { border-top: 1px solid #ddd; }
	.split-block .img-wrap { display: none; }
	.split-block .content { width: auto; }
}