/* header */
header { background-color: $darkBackgroundColor; padding:60px 0 40px;}
.home header { background-color: transparent; position: absolute; top:0; left:0; right:0; z-index:3;}

.header-logo { display: block; width: 305px; }
.header-logo img { width: 100%; }