/* footer */
footer { background: $lightGreenColor; color: #fff; }
footer a { color: #fff; 
	@include transition( color 0.15s $ease-in-out-sine );
}
footer a:hover { color: lighten($lightGreenColor,20); }
.footer-blocks { overflow:hidden; padding: 30px 0; display: table; width: 100%; font-size: 14px; 
	@include display( flex );
	@include align-items ( center );
	@include flex-wrap( wrap );
}
.footer-block { padding: 0 20px; border-left: 1px solid $darkGreenColor; width: 33.33333%;
	@include flex-grow( 1 );
}

.footer-block:first-child { border: none; }

@media screen and (min-width: 951px) {
	.footer-block:first-child { padding-left:0;}
	.footer-block:last-child { padding-right:0; }
}

.footer-logo { display: inline-block; width: 50%; vertical-align: middle;}
.footer-logo img { width: 100%; }
.footer-block address { display: inline-block; vertical-align: middle; padding-left: 20px; width: 45%;}

.footer-block .phones { width: 90%; max-width: 300px; margin: 0 auto; }
.footer-nav li { float: left; width: 50%; display: block; }

/* copyright */
#jac { position: absolute; right:0; top:50%; margin-top: -12px;  width: 186px; height: 25px; background-size: 186px 50px; z-index: 10; }

.copyright { position: relative; font-size: 10px; text-transform: uppercase; color: #fff; padding: 20px 0; cursor: default; margin-top: 10px; clear: both; }
.copyright .social { position: absolute; top:50%; left:0; right:0; text-align: center; margin-top: -10px;}
.copyright ul { position: relative; z-index: 10; display: inline-block;}
.copyright li { display: inline-block; border-left: 1px solid #fff; margin-right: -0.25em; margin-left: 5px; padding-left: 5px; line-height: 1;}
.copyright li:first-child { margin-left:0; padding:0; border: none; }

@media screen and (max-width: 950px) {
	.footer-nav { border-left:0; text-align: center; padding-bottom: 40px; 
		@include order( -1 );
		@include flex-basis( 100% );
	}
	
	.footer-nav a { padding: 10px; display:block;}
	.footer-nav a:hover { background: $darkGreenColor; color: #fff; }
}

@media screen and (max-width: 800px) {
	.copyright { }
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

@media screen and (max-width: 750px) {
	.footer-block { border:none;
		@include flex-basis( 100% );
	}
	
	.footer-logo img { max-width: 90%; width: 280px; margin: 0 auto; display:block;}
	.footer-logo+address { text-align: center; }
	
	.footer-block .phones { margin-top: 20px; }
}

@media screen and (max-width: 600px) {
	.copyright { text-align: center; }
	#jac { position: static; display: block; right:0; margin: 20px auto 0;}
}

@media screen and (max-width: 500px) {

	.footer-nav li { width: auto; float: none; }
	.footer-logo { display: block; width: 100%; }
	.footer-logo+address { display: block; width: auto; margin: 35px 0;}

	
}