/* headings */
%top-level-headings { line-height: 1.2; font-weight: normal; margin: 0 0 20px; font-family: $defaultFontStack; }
%hgroup-top-level-headings { margin:0; }
%heading-style { display: block; font-family: $defaultFontStack; color: $lightGreenColor; }
@each $element in h1,h2,h3,h4,h5,h6 {
	#{$element} { @extend %top-level-headings; }
	#{$element}+hr { margin: -15px 0 15px;}
	#{$element},.#{$element}-style { @extend %heading-style; }
	.hgroup #{$element} { @extend %hgroup-top-level-headings; }
	
	.article-body p+#{$element},
	.article-body ul+#{$element},
	.article-body ol+#{$element} { margin-top: 35px; }
}

.hgroup span { @extend %hgroup-top-level-headings; }
.hgroup { margin: 0 0 20px; }

.h1-style,
h1 { font-size: 32px; }
.h2-style,
h2 { font-size: 28px; }
.h3-style,
h3 { font-size: 24px; }
.h4-style,
h4 { font-size: 20px; }
.h5-style,
h5 { font-size: 16px; font-weight: bold;}
.h6-style,
h6 { font-size: 14px; font-weight: bold;}