/* accordion colors */
$accordionHandleBorderWidth: 0;
$accordionHandleBorderColor: transparent;
$accordionHandleColor: $lightGreenColor;
$accordionHandleColorActive: lighten($lightGreenColor,20);

$accordionHandleBGColor: $darkBackgroundColor;
$accordionHandleBGColorActive: $darkBackgroundColor;

$accordionContentBorderColor: transparent;
$accordionContentBGColor: transparent;

/* standard accordion */
.accordion.separated .accordion-item { margin-bottom: 15px; }
.accordion-item { margin:0; }
.accordion-item-handle { display: block; position: relative; cursor: pointer; padding: 12px 12px 12px 44px; color: $accordionHandleColor; background: $accordionHandleBGColor; border: $accordionHandleBorderWidth solid $accordionHandleBorderColor; margin: -1px 0 0; font-size:18px; text-transform:uppercase;}
.accordion-item-handle.lg { font-size: 20px; }

.accordion-item-handle:before { 
	@include fa-icon();
	content: $fa-var-arrow-right;
	font-size:24px;
	position: absolute; color: $accordionHandleColor; width: 24px; height: 24px; line-height:24px; text-align:center;
	left: auto; left:12px; top: 50%; margin-top: -12px;
	@include transform( none );
	@include transform-origin( center );
	@include transition( transform $ease-in-out-back 0.4s );
}

.expanded>.accordion-item-handle:before {
	@include transform( rotateZ(90deg) );
}

.accordion-item-handle:hover,
.expanded>.accordion-item-handle { background: $accordionHandleBGColorActive; color: $accordionHandleColorActive;}

.accordion-item-handle:hover:before,
.expanded>.accordion-item-handle:before { color: $accordionHandleColorActive; }

.accordion-item-handle>div { padding: 3px 10px; }
.accordion-item-content { display: none; padding: 10px; border: solid $accordionContentBorderColor; margin: -2px 0 0; border-width: 0 1px 1px; background: $accordionContentBGColor;}
.start-expanded>.accordion-item-content { display: block; }
.accordion-content-item p { border: none !important; }
.accordion-item-content ol,
.accordion-item-content ul { margin:-10px; padding: 5px 0; font-size: 13px;}
.accordion-item-content ul li a { display: block; color: #000; padding: 5px 12px;}
.accordion-item-content ul li.selected a,
.accordion-item-content ul li a:hover { background: #efefef }

/* sidebar */
.sidebar .accordion-item-handle { padding: 6px 32px 6px 6px; background-color: #fff; font-size: 14px; color: $bodyContentColor;}
.sidebar .accordion-item-handle:before { left:auto; right: 8px; color: $bodyContentColor !important;
	content: $fa-var-angle-down;
}

.sidebar .expanded>.accordion-item-handle:before {
	@include transform( rotateZ(180deg) );
}
.sidebar .accordion-item-content { border-color: #fff; }
.sidebar .accordion-item-content ul { padding:0; }
.sidebar .accordion-item-content ul li a { color: #fff; }
.sidebar .accordion-item-content ul li.selected a,
.sidebar .accordion-item-content ul li a:hover { background: $lightGreenColor;}