$sidebarWidth: 320px;
$bigSidebarWidth: 500px;

/* main body - flexbox */
.main-body {
	@include display(flex);
}

.main-body .content { width: 1px;
	@include flex-grow( 1 );
}

.main-body .sidebar {
	margin-left: 40px;
	width: $sidebarWidth;
}

.main-body .big-sidebar {
	width: $bigSidebarWidth;
}

@media screen and (max-width: 1050px) {
	.main-body.with-big-sidebar {
		@include flex-wrap( wrap );
	}
	.main-body .big-sidebar { width:100%; margin:0 auto;}
}

@media screen and (max-width: 800px) {
	.main-body.with-sidebar {
		@include flex-wrap( wrap );
	}
	.main-body .sidebar { width:100%; margin:0 auto;}
}

.article-head { background-color: $darkBackgroundColor; color: #fff; margin-bottom: 12px;}
.article-head time { display: table; text-align: center; line-height: 1; text-transform: uppercase; font-size: 13px;}
.article-head time>span { display: table-cell; vertical-align: middle; padding: 8px; border-right: 1px solid #fff;}
.article-head time .day { background-color: $lightGreenColor; font-size: 16px; }
.article-head time span span{ display: block; }

.article-body { font-family: $defaultFontStack; color: $bodyContentColor; font-size: 16px; line-height: 1.5;}

.article-body .excerpt,
.article-body blockquote { color: $excerptColor; font-size: 18px; line-height: 1.44444; margin-bottom: 15px;}

.article-body a.inline,
.article-body span a,
.article-body p a,
.article-body li a,
.article-body blockquote a { display: inline-block; position: relative; z-index: 1; color: $linkColor; white-space: nowrap; font-weight:bold;}

.article-body a.inline.visited,
.article-body span a.visited,
.article-body p a.visited,
.article-body li a.visited,
.article-body blockquote a.visited,
.article-body a.inline:visited,
.article-body span a:visited,
.article-body p a:visited,
.article-body li a:visited,
.article-body blockquote a:visited { color: $visitedColor; }

.article-body a.inline.hover,
.article-body span a.hover,
.article-body p a.hover,
.article-body li a.hover,
.article-body blockquote a.hover,
.article-body a.inline:hover,
.article-body span a:hover,
.article-body p a:hover,
.article-body li a:hover,
.article-body blockquote a:hover { color: $hoverColor; }

.article-body ul,
.article-body ol { margin: 25px 0; }
.article-body li ul,
.article-body li ol { margin: 5px 0; }
.article-body li { position: relative; margin: 0 0 7px;  color: $bodyContentColor; line-height: 1.6;}
.article-body ul>li { padding-left: 18px;}
.article-body ul>li:before { content:""; width: 6px; height: 6px; border-radius: 3px; background: $listNumberColor; display: block; position: absolute; 
	right: auto; left: 0; top:4px; margin-top: 4px; 
}

.article-body ul>li>ul>li:before { background: #a1a1a1; }

.article-body ol { counter-reset: li; padding-left: 10px;}
.article-body ol>li { list-style-type: none; padding-left:10px;}
.article-body ol>li:before { position: absolute; left: -10px; top: 0; content:counter(li); counter-increment:li; color: $listNumberColor; font-weight:bold; }
.article-body ol ol>li:before { content:counter(li, lower-alpha); }
.article-body p { margin-bottom: 15px; font-size: 16px; line-height: 1.5;}
.article-body p+ul,
.article-body p+ol { margin-top:0; }

.breadcrumbs { padding: 10px 0; margin-bottom: 20px; font-size: 14px; text-transform: uppercase;}
.breadcrumbs a { text-decoration: none; color: $lightGreenColor; 
	@include transition( color 0.2s $ease-in-out-sine );
}
.breadcrumbs a+a:before { content:"\00BB"; display: inline-block; color: #939598 !important; line-height: 1; font-size: 22px; vertical-align: baseline; margin-right:3px;}
.breadcrumbs a:last-child { color: $bodyContentColor; }
.breadcrumbs a:hover { color: lighten($lightGreenColor,20) !important; }

.dark-bg .breadcrumbs a:last-child { color: #fff; }

@media screen and (max-width: 500px) {

	/* breadcrumbs */
	.breadcrumbs a { display: block; }
	.breadcrumbs a:before { display: none; }
	
}