$fieldBackgroundColor: #{$darkBackgroundColor};
$fieldTextColor: #fff;
$fieldPlaceHolderColor: #aaa;
$fieldBorderColor: transparent;
$fieldFocusedBackgroundColor: lighten($darkBackgroundColor,5);

/* form stuff */
.single-form { position: relative; padding-right: 30px; background: #fff; max-width: 100%; border: 1px solid #e7e7e7; overflow: hidden;}
.single-form input { border: none; background: transparent; width: 100%; padding: 8px; position: relative; z-index: 4;}
.single-form button { position: absolute; right: 4px; top:0; bottom:0; text-indent: -999px; overflow: hidden; width: 30px;}
.single-form button:before { 
	@include fa-icon();
	position: absolute; top: 50%; margin-top: -10px; font-size: 20px; left:0; right:0; text-align:center; text-indent:0; line-height:1;
}
.single-form:after { content:""; position: absolute; top:4px; bottom: 4px; right: 44px; border-left: 1px solid $bodyContentColor; z-index: 10;}

.body-form .field-wrap { display: block; background: #fff; border: 1px solid #dadada; margin: 0 0 5px;}
.body-form .field-wrap.sprite-before:before { margin-left: 5px; margin-right: 0; }
.body-form .field-wrap input,
.body-form .field-wrap textarea { border: none !important; }
.body-form .field-wrap.sprite-before { padding-left: 30px; }

.body-form { max-width: 600px; }
.body-form.full { max-width:none; }
.body-form input[type=text],
.body-form input[type=email],
.body-form input[type=password],
.body-form input[type=tel],
.body-form select,
.body-form textarea { font-size: 14px; color: $fieldTextColor; padding: 10px; width: 100%; display: block; margin: 0 0 5px; font-family: arial,helvetica,sans-serif; background: $fieldBackgroundColor; border: 1px solid $fieldBorderColor;
	@include transition( background $ease-in-sine 0.15s ); 
	@include placeholder {
		color: $fieldPlaceHolderColor;
	}
}

.body-form textarea { height:126px; }
.body-form input[type=text]:focus,
.body-form input[type=email]:focus,
.body-form input[type=password]:focus,
.body-form input[type=tel]:focus,
.body-form textarea:focus {
	background: $fieldFocusedBackgroundColor 
}